@import url('https://fonts.googleapis.com/css2?family=Cantata+One&family=Jost:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --accent-color: rgba(29, 79, 215, 1);
    --background-color: rgba(251, 252, 255, 1);
    --details-color: rgba(197, 210, 247, 0.2);
    --details-on-blue: rgba(254, 255, 255, 1);
    --heading-on-blue: rgba(252, 252, 253, 1);
    --body-on-blue: rgba(224, 228, 234, 1);
    --small-body-color: rgba(168, 179, 196, 1);
    --slider-background: rgba(130, 146, 170, 1);
    --body-color: rgba(91, 107, 134, 1);
    --headings-color: rgba(21, 24, 30, 1);
    --padding-inline-section: 20px;
    --border-color: rgba(197, 210, 247, 1);
    --section-login-color: rgba(240, 244, 253, 1);
    --editor-output-color: rgba(241, 243, 246, 1);
    --valid-color: rgba(41, 111, 30, 1);
    --valid-bg: rgba(250, 255, 250, 1);
    --valid-stroke: rgba(184, 234, 177, 1);
    --error-bg: rgba(255, 242, 242, 1);
    --error-stroke: rgba(255, 202, 202, 1);
    --dark-accent : #102C79;

}

/* Fonts */
h1,
h2,
h3,
h4,
h5 {
    color: var(--headings-color);
    margin: 0;
}

h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 130%;
}

h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 24px;
}

h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 130%;
}

h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
}

h5 {
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
    margin-bottom: 12px;
    color: var(--body-color);
}

small-body-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
    color: var(--slider-background);
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
}
body {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-family: 'Montserrat', sans-serif;
}



.grid-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.column {
    margin-top: 32px;
}

.column:nth-child(1) {
    width: 220px;
    padding: 16px;
} 

.column:nth-child(2) {
    width: 100%;
    margin-left: 248px;
}

.column:nth-child(3) {
    margin: 32px 16px;
}

.btn{
    padding: 14px 32px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.btn-primary{
    background-color: var(--accent-color);
    color: var(--heading-on-blue);
    border: 1px solid transparent;
    transition: ease 0.4s;

}

.btn-secondary{
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    transition: ease 0.4s;

}

.btn-secondary:hover {
    border: 1px solid var(--accent-color);
    background-color: var(--accent-color);
    color: var(--heading-on-blue);

}

.btn-primary:hover{
    background-color: var(--dark-accent);
}

/* -------------SIDEBAR------------------------ */
.side-bar {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    gap: 40px;
}
.nav {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.menu-link {
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    padding-left: 16px;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-bottom: 12px;
    cursor: pointer;
}

.menu-links {
    margin: 0;
    padding: 0;
}
.icon-menu {
    width: 24px;
    margin-right: 12px;
}

.icon-menu .svg .rect{
    fill: var(--accent-color);
}
.menu-link:not(.active) a {
    color: var(--accent-color);
}

.menu-link:not(.active) .icon-menu {
    fill: var(--accent-color)
}

.menu-link.active {
    background-color: var(--accent-color);
}

.menu-link.active .icon-menu {
    fill: var(--details-on-blue);
}

.menu-link.active a {
    color: var(--heading-on-blue);
}


.logo-nav {
    height: 50px;
}

.logo-small {
    display: none;
    height: 50px;
}
/* --------------------------MAIN-------------------------- */

.main-content {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    height: 100%;
    gap: 32px;
}

.card {
    display: flex;
    padding: 28px;
    background-color: var(--section-login-color);
    border-radius: 20px;
}

.denumire-dropdown {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}


.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--background-color);
    width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 12px;
}

.dropdown-content a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--headings-color);
    padding: 12px 16px;
    text-decoration: none;
    border-radius: 12px;
}

.text-problem {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.dropdown-content a span {
    margin-right: 8px;
}

.dropdown-content a img {
    width: 20px;
}
.dropdown-content a:hover {
    background-color: var(--editor-output-color);
}

.show {
    display: block;
}


.editor {
    display: flex;
    flex-direction: column;

}

select {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    background-color: transparent;
    color: var(--headings-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    width: fit-content;
    margin-bottom: px;
}

textarea {
    resize: none;
}

.live-editor {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    height: 50vh;
    max-height: 60vh;
}

.input{
    width:  100%;
    padding: 20px;
    font-size: 16px;
    border: 1px solid var(--border-color);
    font-size: 16px;
    box-sizing: border-box;
    text-align: left; 
    text-wrap: wrap;
    line-height: 1.5;
    overflow: auto;
    vertical-align: top;
    border-radius: 20px;
}
.buttons {
    display: flex;
    gap:16px;
    width: auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.buttons .btn {
    flex: 1;
}

.glass-effect-div {
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 30, 0.3);
    backdrop-filter: blur(3px);
    z-index: 999;
}

.popup {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    position: fixed;
    align-items: center;
    text-align: center;
    width: 50%;
    height: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 28px;
    border-radius: 20px;
    z-index: 999;
}

.popup img {
    width: 70%;
}

.popup h3 {
    margin-bottom: 16px;
}

.popup p {
    width: 70%;
}

.dificultate-options {
    justify-content: space-between;
    gap: 8px;
    align-content: center;
    margin-top: 16px;
    display: flex;
    width: 80%;
    flex-wrap: wrap;
}
.dificultate-button {
    flex: 1;
    cursor: pointer;
    color: var(--headings-color);
    border: 1px solid var(--headings-color);
    border-radius: 8px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    background-color: var(--details-on-blue);
    text-align: center;
}

.dificultate-button:hover {
    border-color: var(--accent-color);
    color: var(--accent-color);
}

.menu-dots {
    background-color: var(--section-login-color);
    padding: 6px;
    border-radius: 60px;
    transition: 0.3s ease-in;
    cursor: pointer;
}

.menu-dots:hover {
    background-color: var(--small-body-color);
}


/* ----------------------------Right side--------------------- */
.right-side {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
}
.leaderboard {
    position: sticky;
    border: 1px solid var(--border-color);
    height: fit-content;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 28px;
}

.leaderboar .flex {
    flex-direction: row;
    align-items: center;
}

.list-top5 {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.user-data {
    display: flex;
    gap: 16px;
}

.top-student {
    background-color: var(--section-login-color);
    padding: 20px 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:auto;
}

.top-student.winner {
    background-color: var(--accent-color);
}

.table-heading {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}
.user-data h5 {
    color: var(--headings-color);
}

.top-student.winner .user-data h5 {
    color: var(--heading-on-blue);
}

.top-student.winner h4 {
    color: var(--heading-on-blue);
}

.text-box {
    margin-bottom: 28px;
}

.leader-icon {
    width: 24px;
}
.quote {
    background-color: var(--accent-color);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.quote h5 {
    color: var(--heading-on-blue);
    margin-bottom: 27px;
}
.quote p {
    color: var(--body-on-blue);
}

@media (max-width:1199px) {
    .column:nth-child(1) {
        width: min-content;
    }

    .column:nth-child(2) {
        margin-left: 88px;
    }
    .logo-nav {
        display: none;
    }

    .logo-small {
        display: block;
    }

    .side-bar {
        width: min-content;
    }
    .menu-link {
        cursor: pointer;
        width: min-content;
    }
    .menu-link a {
        display: none;
    }

    .icon-menu {
        margin-right: 16px;
    }

}

@media (max-width:992px) {
    h1 {font-size: 36px;}
    h2 {font-size: 28px;}
    h3 {font-size: 24px;}
    h4 {font-size: 20px;}
    h5 {font-size: 18px;}
    p {font-size: 14px;}
    small-body-text {font-size: 10px;}
    .column:nth-child(2) {
        margin-left: 74px;
        margin-right: 0;
    }
    .column:nth-child(3) {
        display: none;
    }

    .logo-nav {
        display: none;
    }

    .logo-small {
        display: block;
    }

    .side-bar {
        width: min-content;
    }

    .card {
        padding: 16px;
    }

    .text-problem h4 {
        margin-bottom: 16px;
    }

    .leaderboard .text-box {
        margin-bottom: 16px;
    }
    .table-heading {
        margin-bottom: 16px;
    }
}

@media (max-width: 768px) {
    h1 {font-size: 36px;}
    h2 {font-size: 28px;}
    h3 {font-size: 24px;}
    h4 {font-size: 20px;}
    h5 {font-size: 16px;}
    p {font-size: 14px;}
    small-body-text {font-size: 10px;}
    a {
        font-size: 16px;
        margin-bottom: 0;
    }

    .column:nth-child(2) {
        margin-right: 0;
    }
    
    .right-side {
        display: none;
    }

    .denumire-dropdown {
        margin-bottom: 16px;
    }

    .denumire-dropdown h4 {
        margin-bottom: 0;
    }

}

@media (max-width: 600px) {
    h1 {font-size: 24px;}
    h2 {font-size: 22px;}
    h3 {font-size: 20px;}
    h4 {font-size: 18px;}
    p {font-size: 14px;}
    small-body-text {font-size: 10px;}
    a {
        font-size: 14px;
        margin-bottom: 0;
    }

    .live-editor {
        flex-direction: column;
    }

    .editor {
        height: 80dvh;
    }

    .input {
        width: auto;
        border-radius: 16px;
        height: 100%;
    }

    .card .download-button {
        width: 20px;
    }

    .dd-icon {
        width: 20px;
    }
}

@media (max-width: 480px) {
    h1 {font-size: 24px;}
    h2 {font-size: 22px;}
    h3 {font-size: 20px;}
    h4 {font-size: 18px;}
    p {font-size: 14px;}
    a {font-size: 14px;}
    small-body-text {font-size: 10px;}

    .card .download-button {
        width: 18px;
    }

    .dd-icon {
        width: 18px;
    }

    .denumire-dropdown h4 {
        width: 60%;
    }
    
}