@import url('https://fonts.googleapis.com/css2?family=Cantata+One&family=Jost:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --accent-color: rgba(29, 79, 215, 1);
    --background-color: rgba(251, 252, 255, 1);
    --details-color: rgba(197, 210, 247, 0.2);
    --details-on-blue: rgba(254, 255, 255, 1);
    --heading-on-blue: rgba(252, 252, 253, 1);
    --body-on-blue: rgba(224, 228, 234, 1);
    --small-body-color: rgba(168, 179, 196, 1);
    --slider-background: rgba(130, 146, 170, 1);
    --body-color: rgba(91, 107, 134, 1);
    --headings-color: rgba(21, 24, 30, 1);
    --padding-inline-section: 20px;
    --border-color: rgba(197, 210, 247, 1);
    --section-login-color: rgba(240, 244, 253, 1);
    --editor-output-color: rgba(241, 243, 246, 1);
    --valid-color: rgba(41, 111, 30, 1);
    --valid-bg: rgba(250, 255, 250, 1);
    --valid-stroke: rgba(184, 234, 177, 1);
    --error-bg: rgba(255, 242, 242, 1);
    --error-stroke: rgba(255, 202, 202, 1);
}
body {
    background-color: var(--background-color);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/* Fonts */
h1,
h2,
h3,
h4,
h5 {
    color: var(--headings-color);
    margin: 0;
}

h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 130%;
}

h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 24px;
}

h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 130%;
}

h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
}

h5 {
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
    margin-bottom: 12px;
    color: var(--body-color);
}

small-body-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
    color: var(--slider-background);
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

img {
    width: 80%;
}

.container {
    max-width: 1192px;
    margin: 0 auto;
    padding: 20px;
}

button {
    font-family: 'Montserrat', sans-serif;
    padding: 14px 32px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--accent-color);
    border: 1px solid transparent;
    color: var(--heading-on-blue);
}

.btn-secondary {
    background-color: var(--details-on-blue);
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}

/* Navigation bar */
nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logo {
    width: min-content;
}

.menu-links{
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 44px;
}

nav a {
    color: var(--headings-color);
    cursor: pointer;
    padding-bottom: 4px;
    position: relative;
}

nav a:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: var(--accent-color);
    transition: width 0.2s ease;
}

nav a:hover::before {
    width: 100%;
    animation: underline 0.2s forwards;
}

.buttons {
    display: flex;
    gap: 12px;
}

.burger-menu {
    display: none;
    width: 24px;
    cursor: pointer;
}

/* Hero section */

.hero {
    margin-top: 92px;
    display: flex;
    align-items: center;
    margin-bottom: 128px;
    gap: 32px;
}

.hero-img {
    width: 50%;
}

.text-box h1 {
    margin-bottom: 28px;
}

.text-box p {
    margin-bottom: 38px;
}

.functionalitati {
    padding: 128px 0;
    background-color: var(--accent-color);
    width: 100vw;
}

.functionalitati .container {
    display: flex;
    flex-direction: column;
}

.text-arrows {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}
.functionalitati .container .text-box {
    width: 50%;
}

.functionalitati .container .text-box h2 {
    color: var(--heading-on-blue);
}

.functionalitati .container .text-box p {
    color: var(--body-on-blue);
    margin-bottom: 0;
}
.arrows-cards {
    right: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.arrow-left {
    order: 1;
    width: 24px;
    cursor: pointer;
}
.arrow-right {
    order: 2;
    width: 24px;
    cursor: pointer;
}

.cards-frame {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    justify-content: space-between;
    height: max-content;
}

.card {
    flex: 0 0 calc(33.33% - 16px);
    background-color: var(--details-on-blue);
    border-radius: 20px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 300px;
}

.card:not(.active) {
    display: none;
  }

.card .icon-card {
    background-color: var(--accent-color);
    border-radius: 8px;
    padding: 10px;
    width: 36px;
    margin-bottom: 12px;
}

.card .text-card h4 {
    color: var(--headings-color);
    margin-bottom: 20px;
}

.card .text-card p {
    color: var(--body-color);
    margin-bottom: 0;
}

/* Despre noi */
.despre {
    margin-top: 128px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
    margin-bottom: 128px;
}
.despre-img {
    width: 50%;
}

/* Footer */

footer {
    background-color: var(--accent-color);
    padding: 40px 0;
}

.footer-logo {
    width: 18%;
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer ul {
    align-items: center;
    display: flex;
    gap: 28px;
}

footer a {
    color: var(--heading-on-blue);
    font-size: 16px;
    cursor: pointer;
}

.divider {
    display: none;
    width: 100%;
}

@media (max-width:992px) {
    h1 {font-size: 36px;}
    h2 {font-size: 28px;}
    h3 {font-size: 24px;}
    h4 {font-size: 22px;}
    p {font-size: 14px;}
    small-body-text {font-size: 10px;}
    nav .burger-menu {
        display: block;
    }

    .menu-links {
        display: none;
    }

    .buttons {
        display: none;
    }

    .cards-frame {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        overflow: hidden;
        gap: 16px;
    }

    .card {
        flex: 1 0 calc(40% - 20px);
        overflow: hidden;
    }

    footer a {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    h1 {font-size: 36px;}
    h2 {font-size: 28px;}
    h3 {font-size: 24px;}
    h4 {font-size: 22px;}
    p {font-size: 14px;}
    small-body-text {font-size: 10px;}
    nav .burger-menu {
        display: block;
    }

    .menu-links {
        display: none;
    }

    .buttons {
        display: none;
    }

    .hero {
        margin-top: 60px;
        flex-direction: column;
        text-align: center;
        margin-bottom: 90px;
    }

    .hero-img {
        width: min-content;
    }

    .hero .text-box {
        width: 70%;
    }

    .functionalitati {
        padding: 90px 0;
    }

    .functionalitati .container .text-box {
        width: 70%;
    }

    .cards-frame {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        overflow: hidden;
        gap: 16px;
    }

    .card {
        flex: 1 0 calc(50% - 20px);
    }
    .despre {
        margin-top: 90px;
        margin-bottom: 90px;
        flex-direction: column;
        gap: 28px;
    }

    .despre-img {
        width: max-content;
    }

    footer {
        padding: 40px 0;
    }

    .footer-logo {
        width: max-content;
    }
    .footer-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;
        margin: 28px 0;
    }

    .copyright {
        display: block;
        text-align: center;
    }

    footer .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .divider {
        display: block;
        margin-bottom: 28px;
    }

}

@media (max-width: 600px) {
    h1 {font-size: 24px;}
    h2 {font-size: 22px;}
    h3 {font-size: 20px;}
    h4 {font-size: 18px;}
    p {font-size: 14px;}
    small-body-text {font-size: 10px;}
    nav .burger-menu {
        display: block;
    }

    .menu-links {
        display: none;
    }

    .buttons {
        display: none;
    }

    .hero {
        margin-top: 60px;
        flex-direction: column;
        text-align: center;
        margin-bottom: 60px;
    }

    .hero-img {
        width: 90%;
    }

    .hero .text-box {
        width: 70%;
    }

    .functionalitati {
        padding: 60px 0;
    }

    .functionalitati .container .text-box {
        width: 60%;
    }

    .arrow-left, 
    .arrow-right {
        width: 20px;
    }
    .cards-frame {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        overflow: hidden;
        gap: 16px;
    }
    
    .card .icon-card {
        width: 36px;
        padding: 8px;
    }
    
    .card .text-card h4 {
        margin-bottom: 16px;
    }

    .card {
        flex: 1 0 calc(60% - 20px);
    }
    .despre {
        margin-top: 90px;
        margin-bottom: 90px;
        flex-direction: column;
        gap: 28px;
    }

    .despre-img {
        width: 90%;
    }

    footer {
        padding: 40px 0;
    }

    .footer-logo {
        width: max-content;
    }
    .footer-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;
        margin: 28px 0;
    }

    .copyright {
        display: block;
        text-align: center;
    }

    footer .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .divider {
        display: block;
        margin-bottom: 28px;
    }

}

@media (max-width: 480px) {
    h1 {font-size: 24px;}
    h2 {font-size: 22px;}
    h3 {font-size: 20px;}
    h4 {font-size: 18px;}
    p {font-size: 14px;}
    small-body-text {font-size: 10px;}
    nav .burger-menu {
        display: block;
    }

    .menu-links {
        display: none;
    }

    .buttons {
        display: none;
    }

    .hero {
        margin-top: 60px;
        flex-direction: column;
        text-align: center;
        margin-bottom: 90px;
    }

    .hero-img {
        width: 90%;
    }

    .hero .text-box {
        width: 90%;
    }

    .functionalitati {
        padding: 90px 0;
    }

    .cards-frame {
        display: inline-flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        overflow-y: scroll;
        gap: 16px;
    }

    .card {
        flex: 0 0 calc(70% - 20px);
        margin-right: 0;
        width: 100%;
    }

    .card .icon-card {
        width: 24px;
        padding: 4px;
        border-radius: 4px
    }
    
    .card .text-card h4 {
        margin-bottom: 12px;
    }

    .despre {
        margin-top: 90px;
        margin-bottom: 90px;
        flex-direction: column;
        gap: 28px;
    }

    .despre-img {
        width: 90%;
    }

    footer {
        padding: 40px 0;
    }

    .footer-logo {
        width: max-content;
    }
    .footer-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;
        margin: 28px 0;
    }

    .copyright {
        display: block;
        text-align: center;
    }

    footer .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .footer-links {
        flex-direction: column;
        gap: 16px;
    }

    .divider {
        display: block;
        margin-bottom: 28px;
    }

}
