@import url('https://fonts.googleapis.com/css2?family=Cantata+One&family=Jost:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --accent-color: rgba(29, 79, 215, 1);
    --background-color: rgba(251, 252, 255, 1);
    --details-color: rgba(197, 210, 247, 0.2);
    --details-on-blue: rgba(254, 255, 255, 1);
    --heading-on-blue: rgba(252, 252, 253, 1);
    --body-on-blue: rgba(224, 228, 234, 1);
    --small-body-color: rgba(168, 179, 196, 1);
    --slider-background: rgba(130, 146, 170, 1);
    --body-color: rgba(91, 107, 134, 1);
    --headings-color: rgba(21, 24, 30, 1);
    --padding-inline-section: 20px;
    --border-color: rgba(197, 210, 247, 1);
    --section-login-color: rgba(240, 244, 253, 1);
}

/* Fonts */
h1,
h2,
h3,
h4,
h5 {
    font-family: "Montserrat", sans-serif;
    color: var(--headings-color);
    margin: 0;
}

h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 130%;
}

h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 24px;
}

h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 130%;
}

h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
}

h5 {
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
}

p {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
    margin-bottom: 12px;
    color: var(--body-color);
}

.small-body-text {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
    color: var(--body-on-blue);
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
}
body {
    display: flex;
    margin: 0;
    padding: 0;
}

.grid-container{
    display: flex;
    flex-direction: row;
}

.column {
    margin: 16px;
    padding: 20px;
}
.column:nth-child(1) {
    width: 256px;
    padding: 0;
} 

.column:nth-child(2) {
    width: -webkit-fill-available;
    margin-left: 304px;
    margin-right: 423px;
}

.column:nth-child(3) {
    width: 375px;
    padding: 16px 0;
}

.btn{
    padding: 14px 32px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.btn-primary{
    background-color: var(--accent-color);
    color: var(--heading-on-blue)
}

.btn-secondary{
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}

.btn-secondary:hover {
    border: 1px solid var(--accent-color);
    background-color: var(--accent-color);
    color: var(--heading-on-blue);
}

/* -------------SIDEBAR------------------------ */
.side-bar {
    position: fixed;
    height: 100%;
}
.nav {
    width: 100%;
}
.menu-link {
    display: flex;
    flex-direction: row;
    width: --webkit-fill-available;
    border-radius: 8px;
    padding-left: 16px;
    padding-top: 18px;
    padding-bottom: 18px;
    transition: var(--background-color) 0.3s ease;
}

.menu-links {
    gap: 12px;
    margin: 0;
    padding: 0;
}
.icon-menu {
    width: 24px;
    margin-right: 12px;
}

.menu-link:not(.active) {
    background-color: transparent;
}

.menu-link:not(.active) a {
    color: var(--accent-color);
}

.menu-link:not(.active) .icon-menu{
    color: var(--accent-color);
}

.menu-link.active {
    background-color: var(--accent-color);
}

.menu-link.active .icon-menu {
    color: var(--details-on-blue);
}

.menu-link.active a {
    color: var(--heading-on-blue);
}


.logo-nav {
    height: 50px;
    margin-bottom: 40px;
    margin-left: 12px;
    margin-top: 20px;
}

/* --------------------------MAIN-------------------------- */

.main-content {
    padding: 16px;
    height: 100%;
}

.search {
    width: auto;
}

.search input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid var(--slider-background);
    border-radius: 8px;
    margin-bottom: 32px;
    font-size: 16px;
}

.cards-probleme {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.card {
    padding: 28px;
    background-color: var(--section-login-color);
    border-radius: 20px;
}

.text-problem h4 {
    margin-bottom: 24px;
}

.text-problem p {
    margin-bottom: 28px;
}
/* ----------------------------Right side--------------------- */
.right-side {
    position: fixed;
    align-items: center;
    right: 0;
    height: 100%;
    overflow-y: auto;
    z-index: 1;
}
.leaderboard {
    border: 1px solid var(--border-color);
    height: fit-content;
    border-radius: 20px;
    padding: 24px;
    margin-bottom: 32px;
}

.leaderboar .flex {
    flex-direction: row;
    align-items: center;
}

.list-top5 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.user-data {
    display: flex;
    gap: 16px;
}

.top-student {
    background-color: var(--section-login-color);
    padding: 24px 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:auto;
}

.winner {
    background-color: var(--accent-color);
}

.winner .user-data .img {
    color: var(--details-on-blue);
}
.winner .user-data .h5 {
    color: var(--heading-on-blue);
}

.table-heading {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
    gap: 10px;
}

.text-box {
    margin-bottom: 28px;
}

.leader-icon {
    width: 24px;
    color: var(--accent-color);
}
.quote {
    background-color: var(--accent-color);
    padding: 28px;
    border-radius: 20px;
    text-align: center;
}

.quote h5 {
    color: var(--heading-on-blue);
    margin-bottom: 27px;
}
.quote p {
    color: var(--body-on-blue);
}
