* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --accent-color: rgba(29, 79, 215, 1);
    --background-color: rgba(251, 252, 255, 1);
    --details-color: rgba(197, 210, 247, 0.2);
    --details-on-blue: rgba(254, 255, 255, 1);
    --heading-on-blue: rgba(252, 252, 253, 1);
    --body-on-blue: rgba(224, 228, 234, 1);
    --small-body-color: rgba(168, 179, 196, 1);
    --slider-background: rgba(130, 146, 170, 1);
    --body-color: rgba(91, 107, 134, 1);
    --headings-color: rgba(21, 24, 30, 1);
    --padding-inline-section: 20px;
}

/* Fonts */
h1,
h2,
h3,
h4,
h5 {
    font-family: "Montserrat", sans-serif;
    color: var(--headings-color);
    margin: 0;
}

h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 130%;
}

h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 24px;
}

h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 130%;
}

h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
}

h5 {
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
}

p {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
    margin-bottom: 12px;
    color: var(--body-color);
}

.small-body-text {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
    color: var(--body-on-blue);
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.menu-links {
    gap: 12px;
}

.menu-link {
    width: 100%;
    border-radius: 8px;
    padding-left: 16px;
    padding-top: 18px;
    padding-bottom: 18px;
    transition: var(--background-color) 0.3s ease;
}

.menu-links .flex {
    flex-direction: row;
    align-items: center;
}
.icon-menu {
    width: 24px;
    margin-right: 12px;
}

.menu-link:not(.active) {
    background-color: transparent;
}

.menu-link:not(.active) a {
    color: var(--accent-color);
}

.menu-link:not(.active) .icon-menu{
    color: var(--accent-color);
}

.menu-link.active {
    background-color: var(--accent-color);
}

.menu-link.active .icon-menu {
    color: var(--details-on-blue);
}

.menu-link.active a {
    color: var(--heading-on-blue);
}


.logo-nav {
    height: 50px;
    margin: 32px;
}

.side-bar {
    position: fixed;
    padding: 16px;
    width:  fit-content;
}

.flex {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1, 1fr);
    gap: 32px;
    justify-content: center;
    align-items: first baseline;
    height: 100%;
}

.container {

}